.tool--cards {
  display: inline-block;
  vertical-align: top;

  .icon-cards {
    position: relative;
  }

  .icon-cards::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('./icon.svg');
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.cards-panel {
  display: inline-block;
  width: 100%;
  padding: 20px;

  &__search {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
  }

  select {
    padding: 2px 6px;
    margin-right: 10px;
  }

  input {
    padding: 3px 10px;
  }

  ul {
    line-height: 1.5;
  }

  a:hover {
    color: red;
  }
}
